<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pikbusiness">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--<uses-feature android:name="android.hardware.camera" android:required="false" />-->
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        android:protectionLevel="signature"
        tools:ignore="ProtectedPermissions" />

    <permission
        android:name="com.pikbusiness.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.pikbusiness.permission.C2D_MESSAGE" />

    <application
        android:name=".Appparse"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:largeScreens="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:xlargeScreens="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon"
        tools:targetApi="m">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.pikbusiness.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths">

            </meta-data>
        </provider>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/serverurl" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/appid" />
        <meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@mipmap/ic_launcher_round" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/clientkey" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f57e8e35ac19ba43b8dd12fcac13f86b1be5b80f" />

        <activity
            android:name=".Loginmodule.Splashscreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity
            android:name=".Loginmodule.LoginScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Loginmodule.Registerscreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Loginmodule.Resetpassword"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Loginmodule.LoginScreenActivity" />
        </activity>
        <activity
            android:name=".Loginmodule.Business_setup"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBo3JQRDrhaI42OdRkGj-wMRHKFzW-8AP4" />

        <activity
            android:name=".Loginmodule.Bank_Details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Activity.CreateLocationActivity"
            android:label="Create Location"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.DashboardActivity" />
        </activity>
        <activity
            android:name=".Editmenu.Singleitem"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan">

        </activity>
        <activity
            android:name=".OrderListActivity"
            android:label="Orders"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".Activity.EditLocationActivity"
            android:label="Edit Location"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OrderListActivity" />
        </activity>
        <activity
            android:name=".Activity.MapActivity"
            android:label="Select Location"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.CreateLocationActivity" />
        </activity>
        <activity
            android:name=".EnterPinActivity"
            android:label="Pin"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.DashboardActivity" />
        </activity>
        <activity
            android:name=".Editmenu.EditMenuTabsActivity"
            android:label="Edit Menu"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.DashboardActivity" />
        </activity>
        <activity
            android:name=".Profile"
            android:label="Profile"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.DashboardActivity" />
        </activity>
        <activity
            android:name=".Bankdetails"
            android:label="Bank Details"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.DashboardActivity" />
        </activity>
        <activity
            android:name=".Loginmodule.Terms"
            android:label="Terms &amp; Conditions"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Loginmodule.Registerscreen" />
        </activity>

        <service android:name=".services.ParseFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.Alertservice"
            android:exported="false"
            android:stopWithTask="false" />
    </application>
</manifest>
